<div class="container-fluid">

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">Welcome to the The QUIZ </div>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      <div class="col-md-4">
  
      </div>
     
      
      <!-- <h4>{{currentQuestion?.payload}}</h4>
  
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <mat-radio-group [(ngModel)]="userCurrentChoise">
          <mat-radio-button *ngFor="let onechoise of currentQuestion?.choises" id="enum_answer_{{onechoise.payload}}"
            [value]='onechoise.payload'>
            {{onechoise.payload}}
          </mat-radio-button>
        </mat-radio-group>
        <button mat-stroked-button color="accent" (click)='next()'>next</button>
      </div>
      <div class="col-md-4"></div>
    </div> -->