<div class="container-fluid">
  <div class="row min-vh-100 flex-column flex-md-row">
      <aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
          <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
              <div class="collapse navbar-collapse ">
                  <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                      <li class="nav-item">
                          <a routerLink="/quiz" class="nav-link pl-0 text-nowrap"><i class="fa fa-user fa-fw"></i> <span
                                  class="d-none d-md-inline">list questions</span></a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link pl-0" routerLink="/ajout-quiz"><i class="fa fa-edit fa-fw"></i> <span
                                  class="d-none d-md-inline">ajouter Questions</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pl-0" routerLink="/coach-space"><i class="fa fa-edit fa-fw"></i> <span
                                class="d-none d-md-inline">coach space</span></a>
                    </li>
                  </ul>
              </div>
          </nav>
      </aside>
      <main class="col bg-faded py-3 flex-grow-1">
          <router-outlet></router-outlet>
      </main>
  </div>
</div>